.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px 15px;
    background-color: #f0f0f0;
}
.main-cont{
    background-color: #d9d9d9;
}
.custom-nav-link {
    color: #4C5665 !important;
    font-weight: 500;
  }
  
  .custom-nav-link.active {
    color: #000 !important;
  }

  .left-space{
    margin-left: 10px !important;
  }
  
.btn-no-radius {
    border-radius: 5 !important;
  }
.loginbtn{
    background-color: #f0f0f0;
    color: #4C5665;
}
.loginbtn img{
    height: 20px;
    width: 20px;
    margin-right: 20px;
}
.my-btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s; /* Transition effect */
}
.my-btn:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.my-btn:hover{
    background-color: #226624; 
}