/* Reset */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  
}

/* Container */
.login-container {
  display: flex;
  background-color: #f8f9fa;
}

/* Left Image Section */
.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image {
  width: 90%;
  height: auto;
  border-radius: 8px;
  
}

/* Right Form Section */
.login-right {
  flex: 1;
  background: white;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.logo-image{
width: 150px;
}

h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}

p {
  margin-top: 5px;
  color: #666;

}

/* Social icons */
.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  margin-top: 1rem;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: 1rem;
}

.divider:not(:empty)::after {
  margin-left: 1rem;
}

.input-box {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Password wrapper */
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.eye-icon {
  width: 20px;
  height: 20px;
  color: #6b7280;
}

/* Terms and conditions */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.options label{
  font-weight: bold;
  font-size: 14px;
}

.forgot-link {
  color: #18c7c7;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

/* Login button */
.sign-in-btn {
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.sign-in-btn:hover {
  background-color: #333;
}